<!-- Blog Posts Section -->
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {% for post in posts %}
                  <div class="post-preview">
                    <a href="{{ post.year }}/{{ post.month }}/{{ post.url_slug }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{ post.author }} on {{ post.timestamp }}</p>
                  </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </section>