        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-responsive" src="/static/img/{{ logo }}-round-256.png" alt="">
                </div>
                <div class="col-lg-9">
                    <div class="intro-text">
                        <span class="name">{{ header }}</span>
                        <hr class="star-light">
                        <span class="skills">{{ skills|safe }}</span>
                    </div>
                </div>
            </div>
        </div>