{% extends "base.html" %}

{% block header %}
  <!-- Blog Post Header Section -->
    <header class="intro-header" style="background-image: url('http://img14.deviantart.net/ecf1/i/2016/118/f/c/cow_jumped_over_the_moon_by_emilystepp-da0loe9.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Posted by {{ post.author }} on {{ post.timestamp }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block nav %}
  {% include "blog/nav.html" %}
{% endblock %}

{% block main %}
  <!-- Blog Post Section -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <p>
                    {{ post.body }}
                  </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}