{% extends "base.html" %}

{% block header %}
  <!-- Blog Post Header Section -->
    <header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Posted by {{ post.author }} on {{ post.timestamp }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block nav %}
  {% include "blog/nav.html" %}
{% endblock %}

{% block main %}
  <!-- Blog Post Section -->
    <section class="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.body_html }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}